@import "../../assets/styles/variables.scss";

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__cart-link {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: $accent-color;
    border-radius: 12px;
    transition: all 0.15s ease;
    &:hover {
      background-color: $accent-hover-color;
    }
  }
  &__cart-price {
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }
  &__cart-image {
    margin-right: 5px;
  }
  &__cart-amount {
    padding-left: 15px;
    display: flex;
    align-items: center;
  }
}

.logo {
  // max-width: 300px;
  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__image {
    width: 50px;
    height: 50px;
  }
  &__text {
    margin-left: 15px;
  }
  &__title {
    color: #000;
    font-size: 30px;
    line-height: 36px;
  }
  &__subtitle {
    color: #666;
  }
}
