@import "./assets/styles/variables.scss";
body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1110px;
}

.btn {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid #eee;
  border-radius: 12px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.15s ease;
  &:hover {
    background-color: $accent-color;
  }

  &--filled {
    background-color: $accent-color;
    &:hover {
      background-color: $accent-hover-color;
    }
  }

  &--outlined {
    border: 1px solid $accent-color;
    background-color: #fff;
    color: $accent-color;
    transition: all 0.3s ease;
    &:hover {
      color: #fff;
      background-color: $accent-color;
    }
  }

  &--gray {
    border: 1px solid #ccc;
    background-color: transparent;
    color: #ccc;
    transition: all 0.3s ease;
    &:hover {
      color: #2c2c2c;
      background-color: #ccc;
    }
  }
}
